body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: #fc4a1a;
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
    background: linear-gradient(to right, #f7b733, #fc4a1a) */
    
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 500vh;
  animation: background-fade 30s infinite;
}

@keyframes background-fade {
    0% {
      background-image: url('img/2ndlike.jpeg')
    }
    10% {
      background-image: url('img/image2.jpeg');
    }
    20% {
      background-image: url('img/image3.jpeg');
    }
    30% {
      background-image: url('img/image4.jpeg');
    }
    40% {
      background-image: url('img/firstlike.jpeg');
    }
    50% {
      background-image: url('img/very vibrant.jpeg');
    }
    60% {
        background-image: url('img/image7.jpeg');
      }
    70% {
        background-image: url('img/image8.jpeg');
      }
    80% {
        background-image: url('img/image9.jpeg');
      }
    90% {
        background-image: url('img/image10.jpeg');
      }
    100% {
        background-image: url('img/lastlike.jpeg');
      }
  }

.card {
    border-radius: 10px;
    padding: 35px 26px;
    width: 400px
}

.card .logo .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.abt {
    font-size: 14px
}

.inputbox {
    margin-top: 12px;
    position: relative
}

.inputbox input {
    border: 2px solid #eee;
    padding: 0 10px
}

.inputbox input:focus {
    color: #495057;
    background-color: #fff;
    border-color: none;
    outline: 0;
    box-shadow: none;
    border: 2px solid #0d6efd
}

.inputbox span{

    font-size: 12px;
}


.inputbox a{

    font-size: 12px;
    text-decoration: none;
}

.input-tag {
    position: absolute;
    top: 27px;
    left: 7px;
    width: 32px
}

.proceed button {
 
    font-size: 15px
}

.form-check-label {
    font-size: 12px
}

.btn-primary:focus {
    color: #fff;
    background-color: #025ce2;
    border-color: #0257d5;
    box-shadow: none
}

.form-check-input {
    width: 16px;
    height: 16px;
    margin-top: 6px
}

