<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  
  <title> Fitness Mixer</title>
  <link rel="stylesheet" href="/static/home.css">
  
  <script src="https://kit.fontawesome.com/5eb8cc4bfc.js" crossorigin="anonymous"></script>

  
</head>

<body>
  
  <div class="main-header">
    <image id="img" src="/static/img/orange logo.png" alt="title image"/>
   
  </div>
    
  <div class ="wrapper">
    <div class="sidebar">
      <ul>
        <li><a href="/logout"><i class="fa-solid fa-right-from-bracket fa-2xl"></i>Logout</a></li>
        <li><a href="/mylist"><i class="fa-solid fa-list fa-2xl"></i>Workouts List</a></li>
        <li class="dropdown">
          <a href="#"><i class="fa-solid fa-search fa-2xl"></i>Filter by Difficulty</a>
          <ul class="dropdown-menu">
            <li><a href="/filterbyDifficulty/beginner">Beginner</a></li>
            <li><a href="/filterbyDifficulty/intermediate">Intermediate</a></li>
            <li><a href="/filterbyDifficulty/expert">Expert</a></li>
          </ul>
        </li>
        <li><a href="/loadlist"><i class="fa-solid fa-compass fa-2xl"></i>Explore Workouts</a></li>
        <li><a href="/editProfile"><i class="fa-solid fa-user fa-2xl"></i>Edit Profile</a></li>
      </ul>
    </div> <!--end div for sidebar-->
  </div>
    <div class= "main-content">
      <div class="card">
        
          <!-- Enter ur stuff for for submission to the database here-->
          <form method="POST" action="/edit/email">
            <span>Edit email</span>
            <div class="inputbox">
              <div class="d-flex justify-content-between align-items-center">
                <input type="text" id=1 name="new_email" class="form-control">
                <button class="btn btn-primary btn-block" type="submit" class="blue text-white btn"> Edit</button>
              </div> 
            </div>
        </form>
          <form method="POST" action="/edit/username">
              <span>Edit Username</span>
              <div class="inputbox">
                <div class="d-flex justify-content-between align-items-center">
                  <input type="text" id=1 name="new_user" class="form-control">
                  <button class="btn btn-primary btn-block" type="submit" class="blue text-white btn"> Edit</button>
                </div> 
                </div>
            </form>
          <form method="POST" action="/edit/password">
            <span>Edit Password</span>
            <div class="inputbox">
              <div class="d-flex justify-content-between align-items-center">
                <input type="text" id=1 name="new_password" placeholder="Enter new password" class="form-control">
                <button class="btn btn-primary btn-block" type="submit" class="blue text-white btn"> Edit</button>
              </div> 
              </div>
      </div>
    </div>

            </div>
              <!--<input type="password" name="password" type="password" class="form-control" required="required">-->
            </div>
            <div class="subcontent center-vertical">
            
            </div>
        </form>
        </div>
        
    </div> 
    
    <div class= "info">
      
    
  </div>
    
  
  
</body>
  
</html>
