<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  
  <title> Fitness Mixer</title>
  <link rel="stylesheet" href="/explore.css">
  
  <script src="https://kit.fontawesome.com/5eb8cc4bfc.js" crossorigin="anonymous"></script>

  
</head>

<body>
  
  <div class="main-header">
    <image id="img" src="images/orange logo.png" alt="title image"/>
   
  </div>
    
  <div class ="wrapper">
    <div class ="sidebar">
      
      <ul>
        <li><a href="#"><i class="fa-solid fa-list fa-2xl"></i> Workout Lists</a></li>
        
        <li><a href="#"><i class="fa-solid fa-compass fa-2xl"></i>Explore Workouts</a></li>
        
        <li><a href="#"><i class="fa-solid fa-user fa-2xl"></i> Profile Setting</a></li>
        
      </ul>
    </div> <!--end div for sidebar-->
  </div>

  <div class="cards">
    <image class="muscle-img" src="images/Fitness/1.png">
    <image class="muscle-img" src="images/Fitness/2.png">
    <image class="muscle-img" src="images/Fitness/3.png">
    <image class="muscle-img" src="images/Fitness/4.png">
    <image class="muscle-img" src="images/Fitness/5.png">
    <image class="muscle-img" src="images/Fitness/7.png">
    <image class="muscle-img" src="images/Fitness/8.png">
    <image class="muscle-img" src="images/Fitness/9.png">
    <image class="muscle-img" src="images/Fitness/10.png">
    
      
  </div>

</body>

</html>