<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  
  <title> Fitness Mixer</title>
  <link rel="stylesheet" href="/static/home.css">
  
  <script src="https://kit.fontawesome.com/5eb8cc4bfc.js" crossorigin="anonymous"></script>

  
</head>

<body>
  
  <div class="main-header">
    <image id="img" src="/static/img/orange logo.png" alt="title image"/>
   
  </div>    
  <div class ="wrapper">
    <div class ="sidebar">
      <ul>
        <li><a href="/logout"><i class="fa-solid fa-list fa-2xl"></i>></i>Logout</a></li>
        <li><a href="/mylist"><i class="fa-solid fa-list fa-2xl"></i> Workout Lists</a></li>
        <div class="dropdown">
          <li><a href="#"><i class="fa-solid fa-search fa-2xl"></i>Filter by Difficulty</a></li>
          <div class="dropdown-content">
            <li><a href="/filter/beginner"><i class="fa-solid fa-search fa-2xl"></i>Beginner</a></li>
            <li><a href="/filter/intermediate"></a><i class="fa-solid fa-search fa-2xl"></i>Intermediate</a></li>
            <li><a href="/filter/expert"><i class="fa-solid fa-search fa-2xl"></i>Expert</a></li>
          </div>
        </div>
        <li><a href="/loadlist"><i class="fa-solid fa-compass fa-2xl"></i>Explore Workouts</a></li>
        <li><a href="/editProfile"><i class="fa-solid fa-user fa-2xl"></i> Profile Setting</a></li>
      </ul>
    </div> <!--end div for sidebar-->
  </div>
    <div class= "main-content">
      <div class="greeting">
        <h1 style="color:black">Welcome {{current_user.username}}</h1>
        <h3 style="color:black">What are we working on today?</h3>
        <br>
        <br>
      </div>
      <div class="flex-container">
        <ul>
          <div class="card" style="padding:1em; border: 2px solid black;">
            <li><a href="/filter/biceps"><i class="fa-solid fa-search fa-2xl"></i>Abdominals</a></li>
          </div>
          <div class="card" style="padding:1em; border: 2px solid black;">
            <li><a href="/filter/abdominals"><i class="fa-solid fa-search fa-2xl"></i>Abductors</a></li>
          </div>
          <div class="card" style="padding:1em; border: 2px solid black;">  
            <li><a href="/filter/adductors"><i class="fa-solid fa-search fa-2xl"></i>Adductors</a></li>
          </div>
          <div class="card" style="padding:1em; border: 2px solid black;">
              <li><a href="/filter/biceps"><i class="fa-solid fa-search fa-2xl"></i>Biceps</a></li>
          </div>
          <div class="card" style="padding:1em; border: 2px solid black;">
              <li><a href="/filter/calves"><i class="fa-solid fa-search fa-2xl"></i>Calves</a></li>
          </div>
          <div class="card" style="padding:1em; border: 2px solid black;">
              <li><a href="/filter/chest"><i class="fa-solid fa-search fa-2xl"></i>Chest</a></li>
          </div>
          <div class="card" style="padding:1em; border: 2px solid black;">
              <li><a href="/filter/forearms"><i class="fa-solid fa-search fa-2xl"></i>Forearms</a></li>
          </div>
          <div class="card" style="padding:1em; border: 2px solid black;">
            <li><a href="/filter/glutes"><i class="fa-solid fa-search fa-2xl"></i>Glutes</a></li>
          </div>
          <div class="card" style="padding:1em; border: 2px solid black;">
            <li><a href="/filter/hamstrings"><i class="fa-solid fa-search fa-2xl"></i>Hamstrings</a></li>
          </div>
          <div class="card" style="padding:1em; border: 2px solid black;">
            <li><a href="/filter/lats"><i class="fa-solid fa-search fa-2xl"></i>Lats</a></li>
          </div>
          <div class="card" style="padding:1em; border: 2px solid black;">
            <li><a href="/filter/lower_back"><i class="fa-solid fa-search fa-2xl"></i>Lower_back</a></li>
          </div>
          <div class="card" style="padding:1em; border: 2px solid black;">
            <li><a href="/filter/middle_back"><i class="fa-solid fa-search fa-2xl"></i>Middle_back</a></li>
          </div>
          <div class="card" style="padding:1em; border: 2px solid black;">
            <a href="/filter/neck"><i class="fa-solid fa-search fa-2xl"></i>Neck</a></li>
          </div>
          <div class="card" style="padding:1em; border: 2px solid black;">
            <a href="/filter/quadriceps"><i class="fa-solid fa-search fa-2xl"></i>Quadriceps</a></li>
          </div>
          <div class="card" style="padding:1em; border: 2px solid black;">
            <a href="/filter/traps"><i class="fa-solid fa-search fa-2xl"></i>Traps</a></li>
          </div>
          <div class="card" style="padding:1em; border: 2px solid black;">
            <a href="/filter/triceps"><i class="fa-solid fa-search fa-2xl"></i>Triceps</a></li>
          </div>
        </div>

          {% if current_user.is_authenticated %}
            {% for exercise in exercises %}
              <div class="card" style="padding:1em; border: 2px solid black;">
                <span class="card-title">{{exercise.name}}</span>
                  <p>Muscle: {{exercise.muscle}}</p>
                  <p>Category: {{exercise.category}}</p>
                  <p>Difficulty: {{exercise.difficulty}}</p>
                  <div class="card-action">
                    <input id="AddButton" type="submit" class="blue text-white btn" Value="Add to Workout">
                  </div>
              </div>
          {% endfor %}
        {% endif %} 
      </ul>
    </div>
   </div> 
    
    <div class= "info">
      
    
    </div>
    
  
  
</body>




  
</html>
