<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  
  <title> Fitness Mixer</title>
  <link rel="stylesheet" href="/static/home.css">
  
  <script src="https://kit.fontawesome.com/5eb8cc4bfc.js" crossorigin="anonymous"></script>

  
</head>

<body>
  
  <div class="main-header">
    <image id="img" src="/static/img/white logo.png" alt="title image"/>
   
  </div>    
  <div class ="wrapper">
    <div class="sidebar">
      <ul>
        <li><a href="/logout"><i class="fa-solid fa-right-from-bracket fa-2xl"></i>Logout</a></li>
        <li><a href="/home"><i class="fa-solid fa-house"></i>Home</a></li>
        <li><a href="/mylist"><i class="fa-solid fa-list fa-2xl"></i>Workouts List</a></li>
        <li class="dropdown">
          <a href="#"><i class="fa-solid fa-search fa-2xl"></i>Filter by Difficulty</a>
          <ul class="dropdown-menu">
            <li><a href="/filterbyDifficulty/beginner">Beginner</a></li>
            <li><a href="/filterbyDifficulty/intermediate">Intermediate</a></li>
            <li><a href="/filterbyDifficulty/expert">Expert</a></li>
          </ul>
        </li>
        <li><a href="/loadlist"><i class="fa-solid fa-compass fa-2xl"></i>Explore Workouts</a></li>
        <li><a href="/editProfile"><i class="fa-solid fa-user fa-2xl"></i>Edit Profile</a></li>
      </ul>
    </div> <!--end div for sidebar-->
  </div>
    <div class= "main-content">
      <div class="greeting">
        <h1 style="color:black">Welcome {{current_user.username}}</h1>
        <h3 style="color:black">What are we working on today?</h3>
        <br>
        <br>
      </div>
        {% if current_user.is_authenticated %}
            {% for exercise in exercises %}
              <div class="card-workout">
                <span class="card-title">{{exercise.name}}</span>
                 <!--<p>Muscle: {{exercise.exercise.muscle}}</p>
                  <p>Category: {{exercise.exercise.category}}</p>
                  <p>Difficulty: {{exercise.exercise.difficulty}}</p>
                  <p>Recommended Equipment:{{exercise.exercise.equipment}}</p> 
                  <p>Instructions: {{exercise.exercise.instructions}}</p>
                  <span class=" card-title"> HIIT Workout</span>
                  <span class=" card-title"> HIIT Workout</span> -->

                  <div class="card-action">
                  <a href='/complete/{{exercise.id}}'><button id="AddButton" class="blue text-white btn">Remove Workout</button></a>
                  </div>
              </div>
          {% endfor %}
        {% endif %} 
      </ul>
    </div>
   </div> 
    
    <div class= "info">
      
    
    </div>
    
  
  
</body>
</html>
